<!--
================================================
  Title: app.component.html
  Author: Ace Baugh
  Date: 31 January 2023
  Description: This is the app component html file.
================================================
-->

<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <!-- Logo -->
    <div class="logo">
      <img
        src="./assets/In-N-Out-Books-Logo.png"
        alt="In-n-Out-Books Logo"
        height="80"
      />
    </div>

    <!-- Navigation Links -->
    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/book-list">Book List</button>
        <button mat-button routerLink="/contact">Contact Us</button>
        <button mat-button routerLink="/about">About Us</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br />

<!-- Main Content -->
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container">
      <mat-card-title class="blue">
        {{ assignment }}
      </mat-card-title>
      <mat-card-content>
        <!-- Router Outlet -->
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
