<!--
================================================
  Title: app.component.html
  Author: Ace Baugh
  Date: 25 January 2023
  Description: This is the about component for the composer-list-app.
================================================
-->

<div class="container">
  <!-- row of content -->
  <div class="row">
    <!-- Left side -->
    <div class="col-sm-4">
      <!-- Composer Image -->
      <img src="assets/AdamYoung.jpg" alt="Composer Image" class="img-fluid"/>
      <!-- image caption -->
      <p class="text-center">Adam Young | Photo Taken by Ace Baugh &copy;2011</p>
    </div>
    <!-- Right side -->
    <div class="col-sm-8">
      <!-- Composer Bio Information -->
      <h4>Adam Young</h4>
      <p>Adam Young is the mastermind behind the synthpop project Owl City. Born and raised in Minnesota, Young began making music in his parents' basement as a way to cope with his severe insomnia. In 2007, he released the album "Of June" under the Owl City name and gained a dedicated following through MySpace. Since then, he has released several more albums and has had numerous hit singles, including "Fireflies" and "Good Time." In addition to his music career, Young is also an avid philanthropist and has worked with several charities throughout his career.</p>
    </div>
  </div>
</div>
