/*
============================================
, Title: app.component.scss
; Author: Ace Baugh
; Date: 6 February 2023
; Description: This is the main styles file for the app component
+===========================================
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
