<!--
================================================
  Title: contact.component.html
  Author: Ace Baugh
  Date: 6 February 2023
  Description: This is the contact component html file.
================================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <!-- Address Card-->
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary" aria-hidden="true">navigation</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>926 Vanburen Ave</p>
        <p>Owatonna, MN 55060</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <!-- Phone Card-->
    <mat-card style="box-shadow: none;">
      <mat-card-title class="card-title-icon align-center full-width">
        <mat-icon color="primary" aria-hidden="true"> phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content class="align-center">
        <p>Direct: +1 (507)451-2720</p>
        <p>Toll-free: 1-888-876-5200</p>
        <p>Fax: +1 (507)451-3518</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the
    Owatonna area.
  </p>
</div>
