/*
============================================
; Title: base-layout.component.scss
; Author: Ace Baugh
; Date: February 13, 2023
; Description: This is the base-layout.component.scss file for the gpa-calculator-app2
============================================
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
