@import "./theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue {
  color: #2196fe;
}

.green {
  color: #66bb6a;
}

.attribution-link {
  color: white;
  text-decoration: none;
}

.attribution-link:hover {
  color: white;
  text-decoration: underline;
}

.card-title-icon {
  text-align: center;
}

.card-title-icon {
  font-size: 72px;

}

mat-icon {
  height: 72px !important;
  width: 72px !important;
  font-size: 72px !important;
}

.align-center {
  text-align: center;
}

.full-width {
  width: 100%;
}
