<!--
================================================
  Title: wishlist-create.component.html
  Author: Ace Baugh
  Date: 6 February 2023
  Description: This is the wishlist-create component html file.
================================================
-->

<form fxLayout="column" class="wishlist-create-form">
  <mat-form-field fxFlex appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" name="title" matInput [(ngModel)]="item.title" />
  </mat-form-field>

  <mat-form-field fxFlex appearance="fill">
    <mat-label>Authors</mat-label>
    <input type="text" name="authors" matInput [(ngModel)]="item.authors" />
  </mat-form-field>

  <button mat-button color="primary" (click)="addItem()">Add Item</button>
</form>
